* {
	margin: 0;
	padding: 0;
	font-size: 0.16rem;
	list-style: none;
	text-decoration: none;
}
html,body{
	height:100%;
	width: 100%;
}
/*字体兼容*/
@font-face {font-family: 'iconfont';
		    src: url('iconfont.eot'); /* IE9*/
		    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		    url('iconfont.woff') format('woff'), /* chrome、firefox */
		    url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
		    url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont{
	font-family:"iconfont";
	font-size:0.16rem;
	font-style:normal;
}

/*hader==========*/
.order_lj_hader {
	overflow: hidden;
	/*width: 7.2rem;*/
	width: 100%;
	height: 1rem;
	background: #2F8FE6;
}

.order_lj_hader span {
	display: inline-block;
	line-height: 1rem;
	color: white;
}


/*main_1==========*/

.order_lj_main_1 {
	overflow: hidden;
	/*width: 7.2rem;*/
	width: 100%;
	height: 1rem;
	background: white;
}

.order_lj_main_1_div {
	width: 90%;
	height: 0.75rem;
	margin: 0 auto;
}

.order_lj_main_1 p {
	height: 0.75rem;
	line-height: 0.75rem;
	float: left;
}

.order_lj_main_1 p:nth-of-type(1) {
	color: #2595FB;
}

.order_lj_main_1 p:nth-of-type(2) {
	margin-left: 0.25rem;
}

.order_lj_main_1 p:nth-of-type(3) {
	float: right;
}

.order_lj_main_1 img {
	width: 100%;
	height: 0.1rem;
}


/*main2==========*/

.order_lj_main_2 {
	overflow: hidden;
	width: 100%;
	height: 0.8rem;
	margin-top: 0.15rem;
	background: white;
	border-left: 0.05rem solid #2991E8;
}

.order_lj_main_2_div {
	width: 90%;
	height: 0.75rem;
	margin: 0 auto;
}

.order_lj_main_2 p {
	height: 0.75rem;
	line-height: 0.75rem;
	float: left;
}

.order_lj_main_2 p:nth-of-type(1) {
	color: #2595FB;
}

.order_lj_main_2 p:nth-of-type(2) {
	margin-left: 0.25rem;
	font-weight: bold;
}

.order_lj_main_2 p:nth-of-type(3) {
	float: right;
}

.order_lj_main_2 p:nth-of-type(4) {
	float: right;
}

.order_lj_main_2 p:nth-of-type(4) a {
	color: #3396F2;
}

.order_lj_main_2 img {
	width: 100%;
	height: 0.1rem;
}


/*main3==========*/

.order_lj_main_3 {
	overflow: hidden;
	width: 100%;
	height: 2.65rem;
	background: white;
	margin-top: 0.15rem;
}

.order_lj_main_3 li {
	width: 100%;
	height: 0.876rem;
}

.order_lj_main_3 li a {
	color: black;
}

.order_lj_main_3 li:nth-of-type(2) {
	border-top: 0.01rem solid #F5F5F5;
	border-bottom: 0.01rem solid #F5F5F5;
}

.order_lj_main_3_div1 {
	width: 90%;
	height: 0.876rem;
	margin: 0 auto;
}

.order_lj_main_3_div1 p {
	height: 0.876rem;
	line-height: 0.876rem;
}

.order_lj_main_3_div1 p:nth-of-type(1) {
	float: left;
}

.order_lj_main_3_div1 p:nth-of-type(2) {
	float: right;
}

.order_lj_main_3_div1 p:nth-of-type(3) {
	float: right;
}

.order_lj_main_3_div2 {
	width: 90%;
	height: 0.876rem;
	margin: 0 auto;
}

.order_lj_main_3_div2 p:nth-of-type(1) {
	height: 0.876rem;
	line-height: 0.876rem;
	float: left;
}

.order_lj_main_3_div2 p:nth-of-type(2) {
	height: 0.876rem;
	line-height: 0.876rem;
	float: right;
	color: #E1E1E1;
}

.order_lj_main_3_div3 {
	overflow: hidden;
	width: 90%;
	height: 0.876rem;
	margin: 0 auto;
}

.order_lj_main_3_div3 p:nth-of-type(1) {
	height: 0.876rem;
	line-height: 0.876rem;
	float: left;
}

.order_lj_main_3_div3 p:nth-of-type(2) {
	height: 0.876rem;
	line-height: 0.876rem;
	float: right;
}

.order_lj_main_3_div3 p:nth-of-type(3) {
	height: 0.876rem;
	line-height: 0.876rem;
	float: right;
	color: #E1E1E1;
}


/*main_4==========*/

.order_lj_main_4 {
	overflow: hidden;
	width: 100%;
	height: 4.15rem;
	background: white;
	margin-top: 0.15rem;
}

.order_lj_main_4 li {
	width: 100%;
	height: 0.822rem;
	border-bottom: 0.01rem solid #F5F5F5;
}

.order_lj_main_4 p {
	color: #7C7C7C;
}

.order_lj_main_4 li a {
	color: black;
}

.order_lj_main_4 div {
	width: 90%;
	height: 0.822rem;
	margin: 0 auto;
}

.order_lj_main_4_div1 p {
	float: left;
	height: 0.822rem;
	line-height: 0.822rem;
	color: black;
}

.order_lj_main_4_div1 img {
	width: 0.3rem;
	height: 0.3rem;
	margin-top: -0.1rem;
}

.order_lj_main_4_div2 p:nth-of-type(1) {
	float: left;
	height: 0.822rem;
	line-height: 0.822rem;
}

.order_lj_main_4_div2 p:nth-of-type(2) {
	float: right;
	height: 0.822rem;
	line-height: 0.822rem;
}

.order_lj_main_4_div2 p:nth-of-type(3) {
	float: right;
	height: 0.822rem;
	line-height: 0.822rem;
	margin-right: 0.5rem;
}

.order_lj_main_4_div3 p:nth-of-type(1) {
	float: left;
	height: 0.822rem;
	line-height: 0.822rem;
}

.order_lj_main_4_div3 p:nth-of-type(2) {
	float: right;
	height: 0.822rem;
	line-height: 0.822rem;
}

.order_lj_main_4_div4 img {
	width: 0.3rem;
	height: 0.3rem;
	margin-top: -0.1rem;
}

.order_lj_main_4_div4 p:nth-of-type(1) {
	float: left;
	height: 0.822rem;
	line-height: 0.822rem;
}

.order_lj_main_4_div4 p:nth-of-type(2) {
	float: left;
	height: 0.822rem;
	line-height: 0.822rem;
}

.order_lj_main_4_div4 p:nth-of-type(3) {
	float: right;
	height: 0.822rem;
	line-height: 0.822rem;
	color: #FF7200;
}

.order_lj_main_4_div5 p:nth-of-type(1) {
	float: left;
	height: 0.822rem;
	line-height: 0.822rem;
}

.order_lj_main_4_div5 p:nth-of-type(2) {
	float: left;
	height: 0.822rem;
	line-height: 0.822rem;
}

.order_lj_main_4_div5 p:nth-of-type(3) {
	float: right;
	height: 0.822rem;
	line-height: 0.822rem;
	color: black;
}


/*main_5==========*/

.order_lj_main_5 {
	overflow: hidden;
	width: 100%;
	height: 2.65rem;
	background: white;
	margin-top: 0.15rem;
}

.order_lj_main_5 div {
	width: 90%;
	height: 0.822rem;
	margin: 0 auto;
}

.order_lj_main_5 li {
	width: 100%;
	height: 0.822rem;
	border-bottom: 0.01rem solid #F5F5F5;
}

.order_lj_main_5_div1 p:nth-of-type(1) {
	float: left;
	line-height: 0.822rem;
	color: black;
}

.order_lj_main_5_div1 p:nth-of-type(2) {
	float: right;
	line-height: 0.822rem;
}

.order_lj_main_5_div1 p:nth-of-type(3) {
	float: right;
	line-height: 0.822rem;
}


/*main_6==========*/

.order_lj_main_6 {
	overflow: hidden;
	width: 100%;
	height: 0.6rem;
}

.order_lj_main_6_div {
	width: 90%;
	height: 0.6rem;
	margin: 0 auto;
}

.order_lj_main_6 p {
	height: 0.6rem;
	line-height: 0.6rem;
	float: right;
}
.order_lj_main_6 p:nth-of-type(2) {
	height: 0.6rem;
	line-height: 0.6rem;
	float: right;
}



/*main_7==========*/

.order_lj_main_7 {
	overflow: hidden;
	width: 100%;
	height: 0.9rem;
}

.order_lj_main_7_div1 {
	width: 4.85rem;
	width: 60%;
	height: 0.9rem;
	background: #4E4E4E;
	float: left;
}

.order_lj_main_7_div1 p {
	height: 0.9rem;
	line-height: 0.9rem;
	color: white;
	margin-left: 0.25rem;
}

.order_lj_main_7_div2 {
	width: 2.35rem;
	width: 40%;
	height: 0.9rem;
	background: #58D076;
	float: left;
}

.order_lj_main_7_div2 p {
	height: 0.9rem;
	line-height: 0.9rem;
	color: white;
	text-align: center;
}

.footer_up {
	width: 100%;
	height: 0.8rem;
	background: red;
}


/*============================================*/
#order_lj_box{
	width: 100%;
	/*height: 100%;*/
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
	background: #EEEEEE;
}
/*新增地址*/
#order_lj_newAddress{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 100%;
	background: white;
	z-index: 2;
	background: #EEEEEE;
}
.newAddress_main1{
	width: 100%;
	height: 4.95rem;
	margin-top: 0.2rem;
	background: white;
}
.newAddress_main1 ul{
	width: 100%;
	height: 4.95rem;
}
.newAddress_main1 ul li{
	width: 100%;
	height: 0.81rem;
	line-height: 0.81rem;
	border: 0.01rem solid #F5F5F5;
}
.newAddress_main1 ul li p{
	display: inline-block;
	margin-left: 1rem;
}
.newAddress_main1 ul li p span{
	color: #DDDDDD;
}
.newAddress_main1 ul li:nth-of-type(6){
	border: none;
}
/*input text 框体消失*/
.newAddress_main1 input{
	BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-SIZE:9pt;
    BORDER-LEFT: medium none;
    WIDTH: 110;
    BORDER-BOTTOM:medium none;
    TEXT-DECORATION: none ;
    margin-top: -0.08rem;
    margin-left: 0.1rem;
}
.input_lj{
	margin-left: 1.07rem;
}
.lj_jia{
	float: right;
	font-size: 0.4rem;
	color: #2F8FE6;
	margin-right: 0.2rem;
}
.lj_sanjiao{
	width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid #2F8FE6;
    float: right;
    margin-top: 0.4rem;
    margin-right: 0.3rem;
}
.input_lj_button{
	width: 95%;
	height: 1.05rem;
	background: #4DC060;
	border: none;
	border-radius: 5px;
	margin: 2.5%;
	font-size: 25px;
	color: white;
}
/*收货地址*/
#order_lj_consigneeAddress{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 100%;
	background: white;
	z-index: 2;
	background: #EEEEEE;
}
.consigneeAddress_main1{
	width: 100%;
	/*height: 3rem;*/
	height: 100%;
	background: #EEEEEE;
}
.consigneeAddress_main1 ul{
	width: 100%;
	/*height: 3rem;*/
	/*height: 100%;*/
}
.consigneeAddress_main1 ul li{
	width: 100%;
	height: 1.5rem;
	border: 0.01rem solid #F5F5F5;
	line-height: 1.5rem;
	background: white;
}
.consigneeAddress_main1 ul li p{
	text-align: center;
	height: 0.75rem;
	line-height: 0.75rem;
}
/*footer*/
.consigneeAddress_footer{
	width: 100%;
	height: 1.1rem;
	background: white;
	position: absolute;
	bottom: 0;
	left: 0;
	line-height: 1.1rem;	
}
.consigneeAddress_footer p{
	text-align: center;
	color: #2F8FE6;
}
/*订单提交成功的出现*/
#success_order{
	display: none;
	width: 100%;
	height:100%;
	position: fixed;
	left:0;
	top:0;
	background: rgba(0,0,0,0.5);
}
#success_order div{
	position: absolute;
	left:0;
	top:4rem;
}
#success_order div img{
	width: 100%;
}