*{
	box-sizing:border-box;
	margin: 0;
	padding: 0; 
}
#find{
    background: #FFFFFF;
    
}
/*头部*/
.find-header{
	width: 100%;
	height: 0.8rem;
	line-height: 0.8rem;
	text-align: center;
	background: #2F8FE6;
	font-size: 0.3rem;
	color: #fff;
}
.header div{
	background: #ffffff;
	float: left;
	height: 1.49333333rem;
	width: 50%;
	border-bottom: 1px solid #ededed;

}
.h_first{
	border-right: 1px solid #ededed;
}
.header span{

	margin-top: 0.4693333rem;
	color: #ff9700;
	display: block;
	font-size: 0.256rem;
}
#sp{
	color: #a2cf26;
}

.header p{

	font-size: 0.170666666rem;
	line-height: 0.3rem;
}

.h_first div{
	float: left;

	margin-left: 0.27306666rem;

}
.h_second div{
	float: left;

	margin-left: 0.27306666rem;
}
.header img{
	height: 0.6826666rem;
	margin:0.4010666rem 0.27306666rem 0 0;
	float: right;
}


#find .blank{
	clear: both;
	width: 100%;
	height: 0.1877333rem;
	background: #f4f4f4;

}

/*banner*/

.banner{


	width: 100%;
}
.banner img{
	width: 100%;
}

/*猜你喜欢*/

.like{

	height: 1.390933rem;
	width: 100%;
	background: #ffffff;
	padding-top: 0.3925333rem;
}
.like p{

	text-align: center;
	font-size: 0.2986666rem;
	color: #333333;
	font-weight: bold;
}
.like span{
	margin-top: 0.085333rem;
	font-size: 0.2218666rem;
	display: block;
	text-align: center;
}
.like img{
	padding: 0 0.1024rem;
	height: 0.2816rem;
}

#find .meal{
	width: 5.888rem;
	margin-left: 0.256rem;

}
#find .meal_img{
	display: block;
	float: left;
}
#find .meal_img img{
	width: 1.877333rem;
	display: block;
	margin-right: 0.085333rem;
}

#find .desOne{
	margin-top: 0.257rem;
	font-size: 0.1962666rem;
	color: #6e6e6e;
}
#find .desTwo{
	margin-top: 0.257rem;
	font-size: 0.1962666rem;
	color: #ff6203;
}
#find .more{
	clear: both;
	height: 0.896rem;
}
#find .more p{
	height: 0.896rem;
	line-height: 0.896rem;
	font-size: 0.256rem;
	text-align: center;
	color: #cccccc;
}
#find .fruit{
	width: 5.888rem;
	margin-left: 0.256rem;

}
#find .fruit_img{
	display: block;
	float: left;
	width: 33.33%;
}
#find .fruit_img img{
	width: 100%;
	display: block;

}
#find .tea{
	margin-top: 0.257rem;
	font-size: 0.1962666rem;
	color: #6e6e6e;
	width: 1.9626rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
#find .tea_price{
	margin-top: 0.257rem;
	font-size: 0.1962666rem;
	color: #ff6203;
}

#find .lastOne{
	border-bottom: 1px solid #eeeeee;
	border-top: 1px solid #eeeeee;
	height: 0.7424rem;
}
#find .lastOne img{
	padding: 0 0.1024rem;
	margin-bottom: 0.1rem;
	height: 0.2816rem;
}

#find .lastOne .first_p{
	font-size: 0.315733rem;
	color: #000000;
	float: left;
	height: 0.7424rem;
	line-height: 0.7424rem;
	margin-left: 0.256rem;
}
#find .lastOne .sec_p{
	font-size: 0.305733rem;
	color: #999999;
	float: right;
	height: 0.7424rem;
	line-height: 0.7424rem;
	margin-right: 0.256rem;
}
#find .iphone_img{
	float: left;
	width: 50%;
	border-bottom: 1px solid #eeeeee;
}
#find .iphone_img:nth-child(2n+1){
	border-right: 1px solid #eeeeee;
}
#find .iphone_img img{
	width: 100%;
}
#find .iphone_img p{
	margin-left: 0.256rem;
	margin-top: 0.1rem;

}
#find .iphoneDesOne{
	font-size: 0.170666rem;
	font-weight: bold;
	margin-top: 0.21333rem;
}
#find .iphoneDesTwo{
	color: #bbbbbb;
	font-size: 0.1536rem;
}

.header div{
	background: #ffffff;
	float: left;
	height: 1.49333333rem;
	width: 50%;
	border-bottom: 1px solid #ededed;
	
}
.h_first{
	border-right: 1px solid #ededed;
}
.header span{
	
	margin-top: 0.4693333rem;
	color: #ff9700;
	display: block;
	font-size: 0.256rem;
}
#sp{
	color: #a2cf26;
}

.header p{
	
	font-size: 0.170666666rem;
	line-height: 0.3rem;
}

.h_first div{
	float: left;
	
	margin-left: 0.27306666rem;

}
.h_second div{
	float: left;
	
	margin-left: 0.27306666rem;
}
.header img{
	height: 0.6826666rem;
	margin:0.4010666rem 0.27306666rem 0 0;
	float: right;
}


#find .blank{
	clear: both;
	width: 100%;
	height: 0.1877333rem;
	background: #f4f4f4;
	
}

/*banner*/

.banner{
	
	
	width: 100%;
}
.banner img{
	width: 100%;
}

/*猜你喜欢*/

.like{
	
	height: 1.390933rem;
	width: 100%;
	background: #ffffff;
	padding-top: 0.3925333rem;
}
.like p{
	
	text-align: center;
	font-size: 0.2986666rem;
	color: #333333;
	font-weight: bold;
}
.like span{
	margin-top: 0.085333rem;
	font-size: 0.2218666rem;
	display: block;
	text-align: center;
}
.like img{
	padding: 0 0.1024rem;
	height: 0.2816rem;
}

#find .meal{
	width: 5.888rem;
	margin-left: 0.256rem;
	
}
#find .meal_img{
	display: block;
	float: left;
}
#find .meal_img img{
	width: 1.877333rem;
	display: block;
	margin-right: 0.085333rem;
}

#find .desOne{
	margin-top: 0.257rem;
	font-size: 0.1962666rem;
	color: #6e6e6e;
}
#find .desTwo{
	margin-top: 0.257rem;
	font-size: 0.1962666rem;
	color: #ff6203;
}
#find .more{
	clear: both;
	height: 0.896rem;
}
#find .more p{
	height: 0.896rem;
	line-height: 0.896rem;
	font-size: 0.256rem;
	text-align: center;
	color: #cccccc;
}
#find .fruit{
	width: 5.888rem;
	margin-left: 0.256rem;
	
}
#find .fruit_img{
	display: block;
	float: left;
	width: 33.33%;
}
#find .fruit_img img{
	width: 100%;
	display: block;
	
}
#find .tea{
	margin-top: 0.257rem;
	font-size: 0.1962666rem;
	color: #6e6e6e;
	width: 1.9626rem;
	height: 0.4rem;
	overflow: hidden;
}
#find .tea_price{
	margin-top: 0.257rem;
	font-size: 0.1962666rem;
	color: #ff6203;
}

#find .lastOne{
	border-bottom: 1px solid #eeeeee;
	border-top: 1px solid #eeeeee;
	height: 0.7424rem;
}
#find .lastOne img{
	padding: 0 0.1024rem;
	height: 0.2816rem;
}
#find .lastOne .first_p{
	font-size: 0.315733rem;
	color: #000000;
	float: left;
	height: 0.7424rem;
	line-height: 0.7424rem;
}
#find .lastOne .sec_p{
	font-size: 0.305733rem;
	color: #999999;
	float: right;
	height: 0.7424rem;
	line-height: 0.7424rem;
}




.find_footer{
	height: 2rem;
}
#find .iphoneDesThree{
	margin-bottom: 0.1rem;
}

#find .spanA{
	font-size: 0.170666rem;
	color: #ff6000;
	padding-right: 0.1rem;
}
#find .spanB{
	font-size: 0.1536rem;
	color: #bbbbbb;
	padding-right: 0.1rem;
}
#find .spanC{
	font-size:0.170666rem;
	height: 0.3584rem;
	line-height: 0.3584rem;
	width: 0.597333rem;
	display: inline-table;
	color: #ffb35c;
	border: 1px solid #ffb35c;
	text-align: center;
}




.find_footer{
	height: 0.836266rem;
	clear: both;
}