#qiang_lj_box{
	width: 100%;
	/*height: 100%;*/
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
}
/*header==========*/
.qiang_lj_header{
	width: 100%;
	height: 1rem;
	background: #2F8FE6;
}
.qiang_lj_header_div{
	width: 90%;
	height: 1rem;
	margin: 0 auto;
}
.qiang_lj_header_div p{
	height: 1rem;
	line-height: 1rem;
	float: left;
	font-size: 0.16rem;
	color: white;
}
.qiang_lj_header_div p:nth-of-type(2){
	margin-left: 0.5rem;
}
/*bg==========*/
.qiang_lj_bg{
	width: 100%;
	height: 2.6rem;
}
.qiang_lj_bg img{
	width: 100%;
	height: 100%;
}
/*main==========*/
/*nav*/
.qiang_lj_mian_nav{
	width: 100%;
	height: 0.95rem;
}
.qiang_lj_mian_nav ul li{
	float: left;
	width: 25%;
	height: 0.95rem;
	border-left:1px solid #4E4E4E ;
	background: #3A3A3A;
}
.qiang_lj_mian_nav ul li:nth-of-type(1){
	border: none;
	background: #FCD800;
}
.qiang_lj_mian_nav ul li:nth-of-type(1) p{
	color: red;
}

.qiang_lj_mian_nav ul li p{
	text-align: center;
	color: #9F9F9F;
}
/*list*/
.qiang_lj_mian_list ul{
	width: 100%;
	height: 100%;	
	background: white;
}
.qiang_lj_mian_list ul li{
	width: 100%;
	height: 2.4rem;
	/*border-bottom: 1px solid red;*/
}
.qiang_lj_mian_list ul li img{
	height: 1.75rem;
	margin-top: 0.3rem;
	float: left;
}
.qiang_lj_mian_list_div{
	width: 50%;
	height: 1.75rem;
	margin-top: 0.3rem;
	/*border: 1px solid red;*/
	float: left;
}
.qiang_lj_mian_list_div p:nth-of-type(1){
	height: 0.583rem;
	line-height: 0.583rem;
	color: black;
	font-weight: bold;
}
.qiang_lj_mian_list_div p:nth-of-type(2){
	height: 0.583rem;
	line-height: 0.583rem;
	display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
.qiang_lj_mian_list_div p:nth-of-type(3){
	height: 0.583rem;
	line-height: 0.583rem;
	color: red;
}
.qiang_lj_mian_list_p{
	background: #BEBEBE;
	float: left;
	margin-top: 1.65rem;
	border-radius: 2px;
	color: white;	
}





















































