<div class="orderPage">
    <div class="orderHeader">
        <p>订单</p>
    </div>
    <div class="orderMenu">
        <ul>
            <li ng-click="changeOutSold()">外卖</li>
            <li ng-click="changeBreakfast()">早餐</li>
        </ul>
        <span></span>
    </div>
    <div class="orderDetail">
        <p class="orderList">近三个月无外卖订单记录</p>
        <p class="orderView">查看三个月前的外卖订单</p>
    </div>
    <div class="breakfast">
        <p class="breakFastList">无早餐订单记录</p>
        <button>立即预定早餐</button>
    </div>

</div>
