*{
	box-sizing:border-box;
	margin: 0;
	padding: 0;
}
#good{
	background: #FFFFFF;

}


/*header*/

#good .good_header{
	height: 3.413333rem;
	width: 100%;
}
#good .good_header img{
	width: 100%;
}


/*主体*/

#good .main{
	background: #398cef;
	width: 100%;
	padding-top: 0.085333rem;
}
#good .gps{
	clear: both;
	width: 6.0757333rem;
	height: 0.6997333rem;
	background: white;
	border-radius: 2px;
	text-align: center;
	margin: 0 0 0.085333rem 0.1450666rem ;
}
#good .gps p{
	font-size: 0.256rem;
	line-height: 0.6997333rem;
	height: 0.6997333rem;
}
#good .gps img{
	height: 0.256rem;
	padding-right: 0.128rem;
}


#good .eat{
	background: white;

	width: 6.0757333rem;
	margin: 0 0 0 0.1450666rem ;

}
#good .smaller{
	overflow: hidden;
	width: 100%;

	border-bottom: 1px solid #eeeeee;
}
#good .left_img{
	margin-left: 0.1450666rem;
	width: 1.024rem;
	float: left;
}
#good .left_img img{
	width: 1.024rem;
}

#good .right_span{
	float: right;
	margin-right: 0.1450666rem;
	width: 4.5226666rem;

}
/*具体样式*/

#good .right_span img{
	height: 0.170666rem;
	width: 0.9216rem;
}

.right_span .spanOne{
	margin-top: 0.2901333rem;
	display: block;
	height: 0.2048rem;
	width: 0.4693333rem;
	float: left;
	background: #ffd930;
	border-radius: 2px;
	font-size: 0.1621333rem;
	text-align: center;
	line-height: 0.2048rem;
	color: #52250a;
}
.span_2{
	display: block;
	float: left;
	font-size: 0.2304rem;
	font-weight: bold;
	margin: 0.2330666rem 0 0.1536rem 0.1109333rem;
}
.span_3{
	display: inline-table;
	float: right;
	margin: 0.2901333rem 0.07rem 0.1536rem 0;
	height: 0.2048rem;
	color: #a5a5a5;
	border-radius: 2px;
	font-size: 0.1621333rem;
	text-align: center;
	line-height: 0.2048rem;
	border: 1px solid #dddddd;
}
.span_4{
	float: left;
	display: block;
	margin-top: 0.6rem;
	margin-left: -2.05rem;
}
.span_11{
	display: block;
	float: right;
	margin: 0.2901333rem 0.05rem 0.1536rem 0;
	height: 0.2048rem;
	color: #a5a5a5;
	border-radius: 2px;
	font-size: 0.1621333rem;
	text-align: center;
	line-height: 0.2048rem;
	border: 1px solid #dddddd;
}
.span_7{
	display: block;
	float: left;
	font-size: 0.1621333rem;
	color: #ff6609;
	margin: -0.12rem 0 0 0.1rem;
}
.span_12{
	display: block;
	float: left;
	font-size: 0.1621333rem;
	color: #737373;
	margin: -0.37rem 0 0 1.5rem;
}
.span_6{
	display: inline-table;
	float: right;
	margin: -0.101333rem 0.05rem 0.1536rem 1.8rem;
	height: 0.205rem;
	color: #3ea2ff;
	border-radius: 2px;
	font-size: 0.1621333rem;
	text-align: center;
	line-height: 0.205rem;
	border: 1px solid #3ea2ff;
}
.span_8{
	display: block;
	float: left;
	font-size: 0.1621333rem;
	color: #737373;
	margin: 0 1.2rem 0.2rem 0;
}
.span_10{
	display: block;
	float: right;
	font-size: 0.1721333rem;
	color: #2395ff;
}
.span_9{
	display: block;
	float: left;
	color: #d8d8d8;
	font-size: 0.1721333rem;
}




#good .right_p{
	margin: 0 0.1450666rem 0.3157333rem;
	float: right;
	width: 4.5226666rem;
	border-top: 1px  dashed #666666;

}

#good .right_p p{
	margin-top: 0.0554666rem;
	line-height: 0.3584rem;
	font-size: 0.1621333rem;
	color: #696969;
}

#good .p1_span{
	display: inline-block;
	float: left;
	height: 0.2218666rem;
	width: 0.2389333rem;
	background: #70bc46;
	font-size: 0.1621333rem;
	line-height: 0.2218666rem;
	text-align: center;
	color: white;
	border-radius: 2px;
	margin: 0.054666rem 0.1109333rem 0 0;
}
#good .p2_span{
	display: inline-block;
	float: left;
	height: 0.2218666rem;
	width: 0.2389333rem;
	background: #f07373;
	font-size: 0.1621333rem;
	line-height: 0.2218666rem;
	text-align: center;
	color: white;
	border-radius: 2px;
	margin: 0.0754666rem 0.1109333rem 0 0;
}



#good .up{
	height: 0.682666rem;
	width: 100%;
}
#good .up p{
	height: 0.682666rem;
	line-height: 0.682666rem;
	text-align: center;
	font-size: 0.170666rem;
	color: #c6c6c6;
}


/*footer*/

#good .footer{
	clear: both;
	height: 3.8718333rem;
	width: 100%;
	background: #328be5;
	padding: 0.6997333rem;
}

#good .footer div{
	position: relative;
	margin: 0 auto;
	height: 0.6314666rem;
	width: 1.706666rem;
	border: 3px solid #c08b58;
	/*font-size: 0.298666rem;*/
	/*color: #5e9ee6;*/
	background: #1c1b20;
	font-weight: bold;
	/*	text-align: center;*/
	/*line-height: 0.6314666rem;*/
	margin-bottom: 0.3754666rem;
}
#div_p{
	position: absolute;
	left: 0.2rem;
	top: -0.08rem;
	height: 0.6314666rem;
	font-size: 0.298666rem;
	color: #5e9ee6;
	text-align: center;

	line-height: 0.6314666rem;
}
#good .foot_p{
	text-indent: 0.5632rem;
	font-size: 0.256rem;
	color: white;
	line-height: 0.443733rem;
}